.formSearh {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9000;
    width: 60%;
    height: 70px;
    padding: 10px;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}
.title {
    font-size: 16px;
    margin-right: 25px;
    color: rgb(46, 46, 46);
    white-space: nowrap;
}
.search_input {
    width: 45%;
    padding: 0 14px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px; 
    text-transform: capitalize;
    box-shadow: 0 0 5px 1px rgb(175, 175, 175);
    &:focus {
        outline: solid 1px rgb(153, 153, 153);
    }
}

.switcher_mode_search {
    margin-right: 20px;
}

.switcher_mode_search_list {
    display: flex;
    li {
        margin-right: 10px;
    }
    a {
        display: inline-block;
        padding: 10px;
        min-width: 70px;
        padding: 12px 0;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
        background-color: #e6e6e6;
        letter-spacing: 1px;
        cursor: pointer;
        transition-duration: 300ms;
        user-select: none;
        &:hover {  
            box-shadow: 0 0 5px 0 #d6d6d6;
        }
    }
}

.active_filter {
    background-color: rgb(240, 143, 64) !important;
    color: #fff;
}

.deactive_input {
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 5px 1px rgb(223, 223, 223);
    color: #f3f3f3;
}


@media screen and (max-width: 1200px) {
    .formSearh {
        width: 50%;
    }
    .search {
        justify-content: center;
    }
    .switcher_mode_search {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    }
}

@media screen and (max-width: 1100px) {
    .formSearh {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 600px) {
    .search {
        flex-direction: column;
    }
    .switcher_mode_search {
        margin: 10px 0;
        
    }
    .search_input {
        width: 100%;
        margin: 10px 0;
    }
    .formSearh {
        height: auto;
    }
    .title {
        margin-top: 15px;
    }
}