.formSearh {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70px;
    padding: 10px;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
}
.title {
    font-size: 17px;
    margin-right: 25px;
    color: rgb(46, 46, 46);
}
.search_input {
    width: 45%;
    padding: 0 14px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px; 
    text-transform: capitalize;
    box-shadow: 0 0 5px 1px rgb(175, 175, 175);
    &:focus {
        outline: solid 1px rgb(153, 153, 153);
    }
}

.switcher_mode_search {
    margin-right: 20px;
}

.switcher_mode_search_list {
    display: flex;
    li {
        margin-right: 10px;
    }
    a {
        display: inline-block;
        padding: 10px;
        min-width: 70px;
        padding: 12px 0;
        font-size: 14px;
        text-align: center;
        border-radius: 5px;
        background-color: #e6e6e6;
        letter-spacing: 1px;
        cursor: pointer;
        transition-duration: 300ms;
        user-select: none;
        &:hover {  
            box-shadow: 0 0 5px 0 #d6d6d6;
        }
    }
}

.active_filter {
    background-color: rgb(240, 143, 64) !important;
    color: #fff;
}

.deactive_input {
    pointer-events: none;
    user-select: none;
    box-shadow: 0 0 5px 1px rgb(228, 228, 228);
    color: #ebebeb;
}