.pagination {
    display: flex;
    align-items: center;
    width: 40%;
}
.pagination_list {
    display: flex;
}

$height: 35px;

.pagin_crumb {
    width: $height;
    height: $height;
    text-align: center;
    line-height: $height;
    min-width: 35px;
    margin: 0 5px;
    user-select: none;
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        cursor: pointer;
        background-color: #e6e6e6;  
        transition-duration: 200ms;
        &:hover {  
            box-shadow: 0 0 5px 1px #8a8a8a;
        }
    }
}

.active_bt {
    background-color: #202020 !important;
    color: #fff;
    border-radius: 3px;
}

@media screen and (max-width: 1200px) {
    .pagination {
        justify-content: center;
        width: 50%;
    }
    .pagination_list {
        width: 65%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 1100px) {
    .pagination {
        width: 100%;
    }
    .pagination_list {
        width: 55%;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 600px) {
    .pagination_list {
        width: 100%;
        justify-content: space-evenly;
    }
    .pagination {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .pagination_list {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
        li {
            margin: 5px 5px 5px 5px;
        }
    }
}