.pagination {
    display: flex;
    align-items: center;
    width: 40%;
}
.pagination_list {
    display: flex;
}

$height: 35px;

.pagin_crumb {
    width: $height;
    height: $height;
    text-align: center;
    line-height: $height;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #e6e6e6;  
    transition-duration: 200ms;
    user-select: none;
    a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    &:hover {  
        box-shadow: 0 0 5px 1px #8a8a8a;
    }
}