.error {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorInfo {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 4.5rem;
        margin-bottom: 15px;
        color: rgb(124, 14, 14);
    }
    span {
        margin: 10px 0;
    }
}