.list_product_wrapper {
    display: flex;
    width: 95%;
    margin: 40px auto;
    margin-bottom: 100px;
    height: 80vh;
    min-height: 500px;
}

.list_product {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}

.actions_page {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -1px 10px 0 #d3d2d2;
}

.not_found {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    span{
        font-size: 22px;
        letter-spacing: 1.2px;
        color: rgb(185, 16, 16);
    }
}

.quantity_prod {
    margin: 20px 0 20px 30px;
}