.card_list_item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 5 - 20px);
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 3px;
    min-height: 270px;
    border: solid 1px rgb(241, 241, 241);
    box-shadow: 0 1px 15px 0 rgba(228, 228, 228, 0.719);
    margin: 10px;
    margin-top: 20px;
    transition-duration: 300ms;
    &:hover {
        transform: translateY(-5px);
    }

    div {
        margin-top: 12px;
    }
}

.backgr_image {
    width: 65%;
    height: 30%;
    min-height: 170px;
    min-width: 150px;
    z-index: -1;
    opacity: 0.8;
    padding: 20px 5px;
    user-select: none;
    object-fit: cover;
}

.brand {
    position: absolute;
    top: 2px;
    font-size: 18px;
}

.title {
    h3 {
        font-size: 17px;
    }
}

.price {
    font-size: 17px;
    font-weight: 600;
    color: rgb(207, 131, 45);
}

.id {
    color: rgb(49, 49, 49);
}

@media screen and (max-width: 1000px) {
    .card_list_item {
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 800px) {
    .card_list_item {
        width: calc(100% / 3 - 20px);
    }
}

@media screen and (max-width: 700px) {
    .card_list_item {
        width: calc(100% / 2 - 20px);
    }
}

@media screen and (max-width: 500px) {
    .card_list_item {
        width: calc(100% / 1);
        margin: 20px 0;
    }
}