.card_list_item {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 4 - 20px);
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    min-height: 270px;
    border: solid 1px rgb(196, 195, 195);
    box-shadow: 0 1px 10px 0 rgb(228, 228, 228);
    margin: 10px;
    margin-top: 20px;
    transition-duration: 100ms;
    &:hover {
        transform: scale(1.03);
    }

    div {
        margin-top: 12px;
    }
}

.backgr_image {
    width: 50%;
    height: 45%;
    min-height: 150px;
    min-width: 150px;
    z-index: -1;
    opacity: 0.8;
    padding: 20px;
}

.brand {
    position: absolute;
    top: 2px;
    font-size: 20px;
}

.title {
    h3 {
        font-size: 18px;
    }
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: rgb(207, 131, 45);
}

.id {
    color: rgb(49, 49, 49);
}

