.card_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% / 4 - 30px);
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    
    height: 200px;
    box-shadow: 0 1px 10px 0 rgb(201, 201, 201);
    margin: 10px;
    margin-top: 20px;
}