#root {
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    color: inherit;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #4e4e4e;
}

ul,
li {
    list-style: none;
}
