.load_window {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.load_square {
    position: fixed;
    z-index: 200;
    width: 80px;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px rgb(219, 219, 219);
    background-color: #fff;
    transform: rotate(90deg);
    span {
        display: block;
        width: 100%;
        height: calc(100% / 5);
        // border-radius: 2px;
        margin-bottom: 2px;
    }
}

@mixin animation($delay) {
    animation: puls 1600ms linear infinite $delay;
}

.anim0 {
    @include animation(800ms);
}
.anim1 {
    @include animation(600ms);
}
.anim2 {
    @include animation(400ms);
}
.anim3 {
    @include animation(200ms);
}
.anim4 {
    @include animation(0ms);
}


@keyframes puls {
    0% {
        background-color: #e6b26b;
    }
    30% {
        background-color: rgba(219, 145, 48, 0.562);
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .load_square {
        transform: unset;
    }
}